.start-container {
  text-align: center;
  padding: 60px 20px;
  border-radius: 8px;
}
.start-title {
  font-size: 28px;
  margin-bottom: 15px;
}
.start-subtext {
  font-size: 16px;
  margin-bottom: 25px;
}
.start-button {
  background-color: rgb(244, 243, 243);
  color: black;
  border: 1px solid black;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
}
.start-button:hover {
  background-color: #f0a500;
  color: white;
  border: 1px solid white;
  transform: translateY(-2px);
}
